

@model Tuple<List<ApplicationUser>, List<place>>
 
@{
    Layout = "_layout";
    ViewData["Title"] = "crate tour";
}

<div class="title-box-d">
      <h3 class="title-d">Create Tour</h3>
    </div>
   
      <form class="form-a" method="post">
        <div class="row">
         
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="Type">TourGuide</label>
              
              <select class="form-control form-select form-control-a" id="tourguide" name="tourguide" required> 
               @foreach (var user in Model.Item1)
              {
                    <option value="@user.Id" >@user.FirstName @user.LastName</option>
                    
              }
                                 
    
                
            
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="city">Place</label>
              
              <select class="form-control form-select form-control-a"  id="p" name="p" required>
                    @foreach (var i in Model.Item2)
              {
                    <option >@i.name </option >
                    
              }
                  
              </select>
             
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
             <label for="to" >Start Date:</label>
           <input type="date" id="from" name="from"  required>
            

            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label for="to">End Date:</label>
         <input type="date" id="to" name="to"  required>
           

            </div>


          </div>

          <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input name="nameoncard" type="text" id="nameoncard"  class="form-control form-control-lg form-control-a" placeholder="name on card" required>
                      </div>
                    </div>


                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input name="cardnum" type="number" id="cardnum"  class="form-control form-control-lg form-control-a" placeholder="card number" required>
                      </div>
                    </div>




                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input name="cvv" type="number" id="cvv"  class="form-control form-control-lg form-control-a" placeholder="cvv" required>
                      </div>
                    </div>



                       <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label for="to">exp Date:</label>
         <input type="date" id="exp" name="exp"  required>
           

            </div>


          </div>


          <div class="col-md-12">
            <button type="submit" name="create" class="btn btn-b">Create tour</button>
          </div>
        </div>
      </form>
   